html,body{
	height :100%;
	margin:0px;
}
.bkg{
	height :100%;
	background-image: url("adm.jpg");
	background-size: cover;
}
	
.hero{
	position:absolute;
	width:1200px;
	margin-left: 0px;
	margin-top: 0px;


}
.button{
	margin-top: 30px;
	margin-left: 440px;

}
.btn{
	border:1px solid white;
	padding :10px 30px;
	color: white;
	text-transform: uppercase;

}
.btn-one{
	background-color: none;
	font-family:"roboto",sans-serif;
}

.btm-two{background-color: none;
	font-family:"roboto",sans-serif;

}
.btn-one:hover{
	background-color: darkorange;
         
}

.btn-two:hover{
	background-color: darkorange;

}
h1{
	color :white;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 40px;
	text-align: center;
}
h3{
	color:white;
	text-decoration: none;
	font-size: 25px;
	text-align: center;
}
p{
	color:  white;
	text-decoration:none;
	font-family: monospace
	font-size: 25px;
	text-align: center;

}
.container{
	margin-top: 440px;
	margin-left: 440px;

}